
@model IEnumerable<PayPalPaymentIntergration.Models.Student>
@{
    ViewData["Title"] = "QueryHighScores";
}

<h1>QueryHighScore</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamScores)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamScores)
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
